/* Background texture and color */
body {
    background-color: #000cf0;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* Logo alignment */
#elLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#elLogo img {
    height: 100%;
}