/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&display=swap');

/* Text color to black */
.norewrite {
    color: black;
}

/* Logo alignment */
#elLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#elLogo img {
    height: 100%;
}

/* Custom code block download banner */
.bannerText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    font-family: 'Gentium Book Basic', serif;
    text-shadow: 5px 5px 5px black;
}

.bannerImage {
    width: 100%;
    height: 35vh;
    background-image: url("https://thenab0303.github.io/skyrimtogether/images/ST_Background4.png");
    background-size: cover;
    background-position: center;
}

.bannerSkyrim {
    font-size: 4rem;
}

.bannerDivider {
    width: 250px;
    height: 1px;
    border: 1px solid;
    border-image: linear-gradient(to right, #ffffff00, #ffffff, #ffffff00);
    border-image-slice: 1;
    margin-top: 20px;
    margin-bottom: 10px;
}

.bannerTogether {
    font-size: 2.5rem;
}

.bannerDownloadButton {
    background-image: url("https://thenab0303.github.io/skyrimtogether/images/Download.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 40px;
    margin-top: 40px;
}

/* Patch Notes Feed */
#patchNotesTitle {
    font-family: 'Gentium Book Basic', serif;
}

#patchNotesFeed {
    background-image: url("https://thenab0303.github.io/skyrimtogether/images/Patchnotes.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    font-family: 'Gentium Book Basic', serif;
}

/* Custom code block server stats */
.statsContainer {
    text-align: center;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.7rem;
}

.statsName {
    font-weight: 700;
    font-size: 0.8rem;
}

.statsCurrent, .statsMax {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.currentPlayers, .currentServers, .maxPlayers, .maxServers {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

/* stats border colors */
.statsCurrent {
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #ffffff00, #ffffff, #ffffff00);
    border-image-slice: 1;
}

.currentPlayers {
    border-right: 1px solid;
    border-image: linear-gradient(#ffffff00, #ffffff);
    border-image-slice: 1;
}

.maxPlayers {
    border-right: 1px solid;
    border-image: linear-gradient(to top, #ffffff00, #ffffff);
    border-image-slice: 1;
}

/* Custom code block Discord invite */
.discordImage {
    width: 100%;
    height: 10vh;
    background-image: url("https://thenab0303.github.io/skyrimtogether/images/Discord-Logo+Wordmark-White.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}