/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&display=swap');

/* Textured Background */
body {
    background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
}

/* White borders at top of page */
#ipsLayout_header > header {
    /* border-top: 1px solid white; */
}

#ipsLayout_header {
    /* border-bottom: 1px solid white; */
}

/* Logo alignment */
#elMobileNav {
    z-index: 1;
}

#elLogo {
    width: 85px;
    height: 85px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(50deg) skew(19deg, 11deg);
    background-color: black;
    border: 1px solid white;
}

#elLogo img {
    width: 100%;
    height: 85px;
    transform: rotate(-46deg);
    padding-top: 12px;
}

/* Navigation Bar */
.ipsNavBar_primary.ipsNavBar_noSubBars>ul>li.ipsNavBar_active>a {
    background-color: #00000000;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #ffffffaa, #ffffff, #ffffffaa);
    border-image-slice: 1;
}

.ipsNavBar_primary>ul>li>a {
    background-color: #00000000;
    transition: 300ms;
}

.ipsNavBar_primary>ul>li>a:hover {
    background-color: #00000000;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #ffffffaa, #ffffff, #ffffffaa);
    border-image-slice: 1;
}

/* Custom code block download banner */
.bannerText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    font-family: 'Gentium Book Basic', serif;
    /* text-shadow: 5px 5px 5px black; */
}

.bannerImage {
    width: 100%;
    height: 35vh;
    background-image: url("https://thenab0303.github.io/skyrimtogether/images/ST_Background_without_text.png");
    background-size: cover;
    background-position: center;
}

.bannerSkyrim {
    font-size: 4rem;
}

.bannerDivider {
    width: 250px;
    height: 1px;
    border: none;
    border-top: 2px solid;
    border-image: linear-gradient(to right, #ffffff00, #ffffff, #ffffff00);
    border-image-slice: 1;
    margin: 20px 0px 10px 0px;
}

.bannerTogether {
    font-size: 2.5rem;
}

.bannerDownloadButton {
    background-image: url("https://thenab0303.github.io/skyrimtogether/images/Download.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 40px;
    margin-top: 40px;
}

/* Desktop Download Banner */

#ipsLayout_header header {
    background-color: #00000000;
    min-height: 120px;
}

.bannerContainerDesktop {
    position: relative;
    transform: translate(0px, -170px);
    z-index: -1;
    margin-bottom: -170px;
}

.bannerImageDesktop {
    height: 500px;
}

.bannerTextDesktop {
    padding-top: 180px;
}

.bannerDividerDesktop {
    margin: 40px 0px 20px 0px;
}

.bannerTextDesktopScale {
    transform: scale(1.3);
}

#ipsLayout_header {
    /* z-index: 0; */
}

/* Patch Notes Feed */
h3#patchNotesTitle {
    font-family: 'Gentium Book Basic', serif;
    font-size: 1rem !important;
}

div#patchNotesFeed {
    height: 150px;
    background-image: url("https://thenab0303.github.io/skyrimtogether/images/Patchnotes.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: row nowrap;
    font-family: 'Gentium Book Basic', serif;
    font-size: 1rem !important;
}

#patchNotesFeed > ul > li > div > h4 > span > a, #patchNotesFeed > ul > li > div > p {
    font-size: 1rem !important;
}

/* Custom code block server stats */
.statsContainer {
    text-align: center;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.7rem;
}

.statsName {
    font-weight: 700;
    font-size: 0.8rem;
}

.statsCurrent, .statsMax {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.currentPlayers, .currentServers, .maxPlayers, .maxServers {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

/* stats border colors */
.statsCurrent {
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #ffffff00, #ffffff, #ffffff00);
    border-image-slice: 1;
}

.currentPlayers {
    border-right: 1px solid;
    border-image: linear-gradient(#ffffff00, #ffffff);
    border-image-slice: 1;
}

.maxPlayers {
    border-right: 1px solid;
    border-image: linear-gradient(to top, #ffffff00, #ffffff);
    border-image-slice: 1;
}

/* Custom code block Discord invite */
.discordImage {
    width: 100%;
    height: 10vh;
    background-image: url("https://thenab0303.github.io/skyrimtogether/images/Discord-Logo+Wordmark-White.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}